<!-- This is the base template containing imports and the block design of all pages -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- loading static files -->
    <link rel="icon" href="{% static 'phonebook/images/icon2.jpg' %}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="{% static 'phonebook/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'phonebook/css/bootstrap.united.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'phonebook/css/style.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'phonebook/fonts/glyphicons-halflings-regular.tff' %}">
    <link rel="stylesheet" href="{% static 'phonebook/fonts/glyphicons-halflings-regular.woff' %}">
    <link rel="stylesheet" href="{% static 'phonebook/fontsglyphicons-halflings-regular.woff2' %}">

    <title>{% block title %} |PhoneBook Application{% endblock title %}</title>
  </head>
  <body>
    <!-- content block -->
    {% block content %}
    {% endblock content %}

    <br/>
    <footer class="footer">
        <p class="text-center">Copyright &copy;2017 PhoneBook Application All Rights Reserved<br/>By Erick Mwandeje Mwazonga.</p>
        <div class="fb-like" data-href="https://www.facebook.com/MetasoftTechnology/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
    </footer>


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- All the link to js scripts to come last. -->
    <script src="{% static 'phonebook/js/jquery.min.js' %}"></script>
    <script src="{% static 'phonebook/js/bootstrap.min.js' %}"></script>
    <!-- other javascript block -->
    {% block javascript %}
    {% endblock %}
  </body>
</html>
