dj-database-url==0.4.2
Django==1.11.1
django-crispy-forms==1.6.1
django-filter==1.0.3
django-social-widgets==0.4.0
djangorestframework==3.6.3
Markdown==2.6.8
psycopg2==2.7.1
python-decouple==3.0
pytz==2017.2
six==1.10.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
whitenoise==3.3.0
